.table-container {
    width:55%;
    margin: auto;
    
}


.button-container {
    width: 50%;
    height: 50px;
    margin: auto;
}


@media screen and (max-width: 820px){
    .table-container {
        width:92%;
        margin: auto;
        
    }

    .button-container {
        width: 50%;
        height: 50px;
        margin: auto;
        display: flex;
        align-items: center;
      justify-content: center;
    }

}

.btn-warning {
    background-color: rgb(69, 176, 53);
    color: white;
    margin-bottom: 0px;
    float: right;
    padding: 5px;
    text-transform: none;
    

}

.btn-primary{
    margin-right: 10px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn-danger {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

#table-btn-div {
    width: 50%; 
    margin: auto;
}

@media screen and (max-width: 1300px){
    #table-btn-div {
        width: 70%; 
        margin: auto;
    }
}
@media screen and (max-width: 1000px){
    #table-btn-div {
        width: 90%; 
        margin: auto;
    }
}