




<div class="container mb-5">
    <header class="d-flex justify-content-center py-3 border-bottom " style="width: 60%; margin: auto;">
      <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page" routerLink="/employees" routerLinkActive="active">Employees</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" routerLink="/departments" routerLinkActive="active">Departments</a>
        </li>
      </ul>
    </header>
  </div>